

<div class="show-likes">
  Likes: <%= Like.where(likable_id: post.id, likable_type: "Post").count %><br>
  <% if user_signed_in? && current_user.id != post.user.id %>
      <%= like_button_post(post)%>
  <% end %>
  <br>    
</div>