<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<h2>Friends</h2>

  <% if @friends.any? %>
    <ul>
      <% @friends.each do |friend| %>
        <li><%= link_to friend.email, friend %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No friends yet.</p>
  <% end %>
</div>

