  
<%= "Logged in as #{current_user.fname}"%><br><br>

<h2>Friends</h2>

  <% if @friends.any? %>
    <ul>
      <% @friends.each do |friend| %>
        <li><%= link_to friend.fname, friend %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No friends yet.</p>
  <% end %>

<% if current_user.id == @user.id %>
  <%= link_to 'Friendship',user_friendships_path(current_user), style: 'color:#006400'%>
  <br><br>
<%end%>

<h2>Posts:-</h2>
  <%if @posts.any?%>
  <ul>
    <%= render 'posts/posts'%>
  </ul>  
  <%else%>
    <p>No posts yet.</p>
  <%end%>  
