<h1> Sending Friend Request....</h1>


<h1>New Friendship Request</h1>

<%= form_with model: [@friendship.sender, @friendship], url: create_request_user_friendship_path do |f| %>
  <%= hidden_field_tag :receiver_id, @friendship.receiver_id %>

  <%= f.submit "Send Request"%>

<% end %>

<p> Your friend request has been sent </p>