<h1>New Friendship Request</h1>

<%= form_with model: [@friendship.sender, @friendship], url: friendships_path do |f| %>
  <%= hidden_field_tag :receiver_id, @friendship.receiver_id %>

  <%= f.submit "Send Request", class: "btn btn-primary" %>
<% end %>